<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Mont-Black.otf</string>
		<string>Mont-Bold.otf</string>
		<string>Mont-ExtraLight.otf</string>
		<string>Mont-Light.otf</string>
		<string>Mont-Regular.otf</string>
		<string>Mont-SemiBold.otf</string>
		<string>Mont-Thin.otf</string>
	</array>
</dict>
</plist>
